{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
  },
  "overrides": [
    {
      // Для тестов jest
      "files": ["src/__tests__/**/*.js", "src/__tests__/**/*.test.js"],
      "env": {
        "jest": true
      }
    },
    {
      // Для конфигов nodejs
      "files": ["webpack.config.js", "jest.config.js"],
      "env": {
        "node": true
      }
    }
  ]
}